@font-face {
    font-family: 'AharoniiG_Regular';
    src: url('Fonts/AharoniiG_Regular.otf');
}

@font-face {
    font-family: 'ArbelHagilda_Regular';
    src: url('Fonts/ArbelHagilda_Regular.otf');
}

#Dana_Profile_Page figure
{
	width: 100% !important;
}

figure.artist-image
{
	background-image:url("../../../workspace/uploads/profile-picture/מדוזה.jpg") !important;
}

.padding-bottom-9_16{
    height: 87vh;
    width: 129vh;
    padding-bottom: 0%;
}

#artist-image-marrging
{
	margin-top: 5vh !important;
}

#Dana_Profile_Page_1 .jit-image-bg
{
	content:url("../../../workspace/uploads/profile-picture/מדוזה.jpg") !important;
}

#Dana_Profile_Page_2 .jit-image-bg
{
	content:url("../../../workspace/uploads/profile-picture/לדה.jpg") !important;
}

#Dana_Profile_Page_3 .jit-image-bg
{
	content:url("../../../workspace/uploads/profile-picture/פרספונה.jpg") !important;
}

#Dana_Profile_Page_4 .jit-image-bg
{
	content:url("../../../workspace/uploads/profile-picture/אירופה.jpg") !important;
}

#Dana_Profile_Page_5 .jit-image-bg
{
	content:url("../../../workspace/uploads/profile-picture/דנאה.jpg") !important;
}
