@font-face {
    font-family: 'AharoniiG_Regular';
    src: url('Fonts/AharoniiG_Regular.otf');
}

@font-face {
    font-family: 'ArbelHagilda_Regular';
    src: url('Fonts/ArbelHagilda_Regular.otf');
}

html body
{
	color: white  !important;
}

.bg-color-white, html body
{
	/*
		green = 15f7b6
		pink = ec008c
		black = 000000
	*/
	background-color: #000000;
}

.Dana_Profile_Page div
{
	background-color: #ec008c !important;
}

.home-slider-slide-title
{
	width: 95%;
}

#Dana_Buttom_Bar strong {
	font-family: "AharoniiG_Regular" !important;
	text-align: center !important;    
	display: block;
	font-size: 20px !important;
	font-weight: 100;
}

#Dana_Buttom_Bar h2
{
	font-family: "ArbelHagilda_Regular" !important;
	text-align: center !important;    
	display: block;
	font-size: 13px !important;
	color: #E2BC99  !important;
}

.Dana_Profile_Page span
{
	font-family: "AharoniiG_Regular" !important;
	font-size: 14.5px !important;
}

.Dana_Profile_Page .text-shorter
{
	font-family: "ArbelHagilda_Regular" !important;
	font-size: 13px !important;
	font-style : normal;
	color: #E2BC99  !important;
	font-weight: 100;
}

.Dana_Profile_Page .text-shorter.text-uppercase
{
	color: white !important;
	font-family: "AharoniiG_Regular" !important;
	font-size: 20px !important;
	font-weight: 100;

}


.page-title .page-title-title {
	color: #ec008c  !important;
	font-style : normal;    
	line-height: 250px !important;
	letter-spacing: 30px;
	font-size: 80px !important;
    font-family: "AharoniiG_Regular" !important;
    text-align: center;
    -webkit-transform: rotateZ(3deg) scale(1,1);
    -moz-transform: rotateZ(-5deg) scale(1,.6);
    -ms-transform: rotateZ(-5deg) scale(1,.6);
    -o-transform: rotateZ(-5deg) scale(1,.6);
    /* transform: rotateZ(-5deg) scale(1,.6); */
    /* -webkit-transform-origin: 100% 0; */
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    /* transform-origin: 100% 0; */
    -webkit-backface-visibility: hidden;
}


#Dana_Page_1 .jit-image-bg
{
	background-image:url("../../../workspace/uploads/Gifs/מדוזה.gif") !important;
}

#Dana_Page_2 .jit-image-bg
{
	background-image:url("../../../workspace/uploads/Gifs/לדה.gif") !important;
}

#Dana_Page_3 .jit-image-bg
{
	background-image:url("../../../workspace/uploads/Gifs/פרספונה.gif") !important;
}

#Dana_Page_4 .jit-image-bg
{
	background-image:url("../../../workspace/uploads/Gifs/אירופה.gif") !important;
}

#Dana_Page_5 .jit-image-bg
{
	background-image:url("../../../workspace/uploads/Gifs/דנאה.gif") !important;
}




#Dana_Profile_Page_1 .jit-image-bg
{
	content:url("../../../workspace/uploads/profile-picture/מדוזה.jpg") !important;
}

#Dana_Profile_Page_2 .jit-image-bg
{
	content:url("../../../workspace/uploads/profile-picture/לדה.jpg") !important;
}

#Dana_Profile_Page_3 .jit-image-bg
{
	content:url("../../../workspace/uploads/profile-picture/פרספונה.jpg") !important;
}

#Dana_Profile_Page_4 .jit-image-bg
{
	content:url("../../../workspace/uploads/profile-picture/אירופה.jpg") !important;
}

#Dana_Profile_Page_5 .jit-image-bg
{
	content:url("../../../workspace/uploads/profile-picture/דנאה.jpg") !important;
}

